@import "materialize";
@import "recipes";

.gold {
 background-color: #fb9d3a;
}

.logo-padding {
  padding-left: 8px;
}

.green-color {
  background-color: #024550;
}

.container1 {
  width: 200px;
  border-radius: 5%;
}

.padding1 {
  padding: 10px;
}