@import "materialize";
@import "recipes";

.gold {
 background-color: #fb9d3a;
}

.logo-padding {
  padding-left: 8px;
}

.green-color {
  background-color: #024550;
}

.container1 {
  width: 200px;
  border-radius: 5%;
}

.padding1 {
  padding: 10px;
}

.pink2 {
  color: #ee6e73;
}

.container1 {
  width: 80%;
  border-radius: 5%;
}

.flex {
  display: flex;
  flex-flow: wrap;
}